.container {
    background:#f9fbfd;

}

#generate {
    background: #af0808;
    border-radius: 30px;
 
}

#copy {
    background: #c0c7cf;
    border-radius: 30px;
    /* outline:none; */
}

.border {
    background: #e7e9eb;
}

#password{
    border: 3px #c0c7cf dashed;
    border-radius: 6px;
    height: 120px;
    resize:none;
}